<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>RizelWorld</display-name>
  <context-param>
    <param-name>log4j-config-location</param-name>
    <param-value>WEB-INF/log4j.properties</param-value>
  </context-param>
  <context-param>
    <param-name>hit_Counter_Context</param-name>
    <param-value>WEB-INF/hitCounter.properties</param-value>
  </context-param>
  <display-name>EmailSendingWebApp</display-name>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>465</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>rizelbroadband@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>helloRizel!1</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmailSending1</display-name>
    <servlet-name>EmailSending1</servlet-name>
    <servlet-class>com.rizelworld.email.EmailSending</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSending1</servlet-name>
    <url-pattern>/EmailSending1</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error/index.html</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/error/index.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/index.html</location>
  </error-page>
</web-app>